fastapi
uvicorn
python-dotenv
python-multipart
requests
google-genai
pyngrok
langchain-community
langchain-ollama
langchain-huggingface
langchain-text-splitters
chromadb
pypdf
openai-whisper
edge-tts
sentence-transformers
opencv-python-headless
ultralytics
